In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
from pprint import pprint

In [2]:
import json

In [3]:
# Import API key
# from api_keys import audio_api

In [4]:
#create an empty list to populate with artist names
artist_names=[]

In [5]:
#generate random numbers in the range of available artist IDs
#used to populate artist_names list
#https://numpy.org/doc/stable/reference/random/generated/numpy.random.randint.html
random_nums = np.random.randint(low=100000, high=170000, size=800)

#print(random_nums)

#test with known IDs and intentional errors
#random_nums = [112024, 0, 100000, 114364]

In [6]:
#create a base url
#example: https://theaudiodb.com/api/v1/json/1/artist.php?i=112024
id_url = "https://theaudiodb.com/api/v1/json/1/artist.php?i="

#create a loop that uses random number
for num in random_nums:
    unique_url = id_url + f'{num}'
    
    #call api url
    request = requests.get(unique_url)
    
    #for each attempt try to convert information to json
    try:
        #convert to json
        info = request.json()
    
    #exception json decode error
    #https://docs.python.org/3/tutorial/controlflow.html
    except json.JSONDecodeError:
        #end this iteration and continue new iteration of for loop
        continue
    
    #if json conversion successful then
    #try to create a variable for single artist to reference later
    try:
        artist = info['artists'][0]['strArtist']
        
    #TypeError exception if url responds with {'artists': None}
    #https://docs.python.org/3/tutorial/errors.html
    except (TypeError):
        continue
        
    #if the artist is not already in the list then 
    if artist not in artist_names:
        
        #populate artist_names list using info(json)
        #response-> {'artists': [{'idArtist': '114364', 'strArtist': 'Beyoncé', ...
        #dictionary{'artists':['{dictionary}']}
        artist_names.append(info['artists'][0]['strArtist'])
    
#print(artist_names)

In [7]:
len(artist_names)

616

In [8]:
#print(artist_names)

In [9]:
#alternative to "if not in list then .append"
#convert list to set to remove redundant artists
#https://java2blog.com/python-list-to-set/


#unique_artist_ids = set(artist_names)
#print(unique_artist_ids)

In [10]:
#create loop to pull artist information from the database
#using populated artist_names list
#example url: http://theaudiodb.com/api/v1/json/1/search.php?s=coldplay
#tutorial: https://www.youtube.com/watch?v=pxofwuWTs7c

#create empty dictionary to fill with values
audio_data = {'artist_id':[],
              'artist_name':[],
              'gender':[],
              'members':[],
              'style':[], 
              'genre':[],
             'year_formed':[],
             'year_disbanded':[],
             'location':[]}

#for each artist in the artist list, 
for name in artist_names:
    
    #add the artist name to the base url
    base_url = "http://theaudiodb.com/api/v1/json/1/search.php?s="
    req = requests.get(base_url + f'{name}')
    
    #convert request information into json as a variable
    data = req.json()
    
    #add json values to dictionary
    try:
        audio_data['artist_id'].append(data['artists'][0]['idArtist'])
        audio_data['artist_name'].append(data['artists'][0]['strArtist'])
        audio_data['gender'].append(data['artists'][0]["strGender"])
        audio_data['members'].append(data['artists'][0]["intMembers"])
        audio_data['style'].append(data['artists'][0]["strStyle"])
        audio_data['genre'].append(data['artists'][0]["strGenre"])
        audio_data['year_formed'].append(data['artists'][0]["intFormedYear"])
        audio_data['year_disbanded'].append(data['artists'][0]["strDisbanded"])
        audio_data['location'].append(data['artists'][0]["strCountry"])
    
    #restart loop if TypeError found
    except (TypeError):
        continue

In [11]:
#print(audio_data)

In [12]:
audio_df = pd.DataFrame(audio_data)
audio_df.head(20)

,artist_id,artist_name,gender,members,style,genre,year_formed,year_disbanded,location
0,152689,Exotica,None,None,None,,0,None,None
1,140338,Hanno Herzler,None,None,None,,0,None,None
2,138577,Skaos,None,None,None,Ska,1982,None,None
3,136662,Anne Etchegoyen,None,None,None,,0,None,None
4,120372,Stefan Nilsson,None,None,None,None,1955,None,None
5,143824,Kenny Wheeler,Male,1,,Jazz,None,None,Canadian
6,168060,Pastor T.L. Barrett,Male,1,,Gospel,None,None,American
7,134859,Heartland,None,None,None,,2006,None,None
8,153222,La Bionda,None,None,None,,1970,None,None
9,156737,Final Stair,None,None,None,,0,None,None
10,138958,Robbie Hill's Family Affair,Male,8,,Funk,1975,None,"Seattle, US"
11,132787,Milt Jackson,Male,1,,Jazz,None,None,"Detroit, USA"
12,150081,Malcolm Martineau,Male,1,,Classical,None,None,Edinburgh
13,165790,Son of a Bitch,Male,5,,Heavy Metal,1975,None,"Barnsley, South Yorkshire, England"
14,120480,Funda Arar,,1,Rock/Pop,Pop,0,None,
15,132179,Die kleinen Götter,None,None,None,None,1996,None,None
16,148888,Jon English,Male,1,Rock/Pop,Pop-Rock,1970,None,"London, UK"
17,162325,Jaguar Jonze,None,None,None,,0,None,None
18,118356,Fair Warning,Male,5,Rock/Pop,Hard Rock,1990,None,"Hannover, Germany"
19,154969,Danny L Harle,Male,1,,Electronic,0,None,London

In [13]:
#possible questions
#location and genre
#year formed and genre

#pull artist, location, year formed, genre

In [14]:
#audio_df_nan = audio_df.replace('', np.nan)
#artist_df = audio_df_nan.dropna(axis=0, how='any')
#artist_df